---
// Importando os componentes necessários
import Header from "./Header.astro";
import HeroBanner from "./HeroBanner.astro";
import PlansSection from "./PlansSection.astro";
import DifferentialsSection from "./DifferentialsSection.astro";
import Footer from "./Footer.astro";
---

<div class="min-h-screen w-full max-w-sm mx-auto" style="width: 375px;">
  <Header />
  <HeroBanner />
  <PlansSection />
  <DifferentialsSection />
  <Footer />
</div>